
body {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    font-family: 'Manrope', sans-serif;
    font-size: medium;
    color: white;
    }

  

main {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 100%;

}

.card {
    background: rgba(17, 25, 29, 0.65);
    padding: 35px;
    border-color: black;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;

}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-Bar {
    border: none;
    outline: none;
    padding: 6.4px 16px;
    border-radius: 24px;
    background: cornsilk;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button {
    margin: 8px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: grey;
}

h1.temp {
    margin: 0;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

footer {
    background-color: rgba(17, 25, 29, 0.65);
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    
}

footer p {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

footer a:link, a:active,
a:visited {
    color: white;
}


/*Resposive section*/

@media screen and (min-width: 200px) and (max-width: 1000px) {


    h1{
        font-size: 1.5em;
    }
    
        
}