body {
    height: 1000px;
    overflow: hidden;

    background-image:url("https://images.unsplash.com/photo-1531352294718-fb57e1b4e148?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1163&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
    
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    }

  

main {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 100%;

}

.card {
    background: rgba(17, 25, 29, 0.596);
    padding: 32px;
    border-color: black;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 16px;

}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-Bar {
    border: none;
    outline: none;
    padding: 6.4px 16px;
    border-radius: 24px;
    background: cornsilk;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button {
    margin: 8px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: grey;
}

h1.temp {
    margin: 0;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}